BECONEX_challenge_materials_samples/
output.json
output_2.json
output_comprehensive.json
output_comprehensive_2.json
output_enhanced.json
#dummy_out.json
#DUMMY_SAP.json
#dummy_invoices.pdf
date_match_bauhaus.py
test_out_bauhaus.py
BauHaus_find_date.py